:root{
	--negro:#0B0B0D;
	--grisOscuro:#474A56;
	--gris:#929AAB;
	--grisClaro:#D3D5FD;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Ubuntu', sans-serif;
	background: var(--grisClaro);
	overflow-x: hidden;
}

/* ESTILOS GENERALES */
section{
	padding: 80px 0;
	width: 90%;
	max-width: 1400px;
	margin: auto;
	overflow: hidden;
}
.titulo{
	color: var(--grisOscuro);
	font-size: 30px;
	text-align: center;
	margin-bottom: 50px;
	font-weight: lighter;
}
b{
	font-weight: bold;
}

/* ESTILOS SINGULARES */
header{
	width: 100%;
	height: 600px;
	background: #000000; 
	background: linear-gradient(to right, hsl(0, 0%, 0%, 0.8), hsl(0, 0%, 0%, 0.9)), url(../img/header.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
header nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	background: var(--negro);
}
header nav .menu .lista{
	display: flex;
}
header nav .menu .lista li{
	list-style: none;
}
header nav .menu .lista li a{
	text-decoration: none;
	margin: 0 10px;
	padding: 3px 5px;
	color: var(--grisClaro);
	font-size: 20px;
	transition: 0.5s;
}
header nav .menu .lista li a:hover{
	background: var(--grisClaro);
	color: var(--negro);
}
header nav .menu .lista li a.activo{
	background: var(--grisClaro);
	color: var(--negro);
}
.burger > .fa-bars{
	display: none;
}
header .headerTexto{
	display: flex;
	height: 500px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
header .headerTexto h1{
	font-size: 50px;
	font-weight: lighter;
	color: var(--grisClaro);
}
header .headerTexto hr{
	width: 500px;
	height: 2px;
	background: var(--grisClaro);
	border:none;
	margin: 5px 0;
}
header .headerTexto h2{
	font-size: 30px;
	font-weight: lighter;
	color: var(--grisClaro);
}
header .wave{
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* ABOUT */
.about hr{
	border: none;
	outline: none;
	height: 2px;
	background: var(--grisOscuro);
	width: 80px;
	margin: -45px auto 10px;
}
.aboutContenedor{
	display: flex;
	justify-content:space-evenly;
	padding-top: 30px;
}
.aboutContenedor .aboutImg{
	width: 48%;
}
.aboutContenedor .aboutTexto{
	width: 48%;
	padding-top: 40px;
}
.aboutContenedor .aboutTexto h3{
	padding: 0 0 30px 15px;
	font-weight: lighter;
	text-align: justify;
	color: var(--grisOscuro);
	line-height: 30px;
}
.aboutContenedor .aboutTexto h3 span{
	background: var(--grisOscuro);
	color: var(--grisOscuro);
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	width: 10px;
	height: 10px;
	padding: 2px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	margin-right: 5px;
}

/* PROYECTOS */
.proyectos hr{
	border: none;
	outline: none;
	height: 2px;
	background: var(--negro);
	width: 80px;
	margin: -45px auto 50px;
}
.proyectos{
	background: var(--gris);
}
.proyectos .proyectosContenedor .titulo{
	color: var(--negro);
}
.proyectos .proyectosGaleria{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.proyectos .proyectosGaleria .proyectoImg{
	width: 30%;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}
.proyectos .proyectosGaleria .proyectoImg > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
/* EFECTO HOVER CON TEXTO */
.proyectos .proyectosGaleria .proyectoImg .hover{
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100%;
	background: rgba(0, 0, 0, 0.9);
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.proyectos .proyectosGaleria .proyectoImg:hover .hover{
	top: 0;
}
.proyectos .proyectosGaleria .proyectoImg .hover img{
	width: 50px;
}
.proyectos .proyectosGaleria .proyectoImg .hover p{
	color: white;
	padding-top: 20px;
	font-size: 15px;
	font-weight: lighter;
	text-align: center;
}

/* DATOS */
.datos hr{
	border: none;
	outline: none;
	height: 2px;
	background: var(--grisOscuro);
	width: 80px;
	margin: -45px auto 50px;
}
.datosCard{
	display: flex;
	justify-content: space-evenly;
}
.datosCard .card{
	background: var(--negro);
	display: flex;
	width: 45%;
	height: 200px;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
}
.datosCard .card img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border: 3px solid white;
	border-radius: 50%;
	display: block;
}
.datosCard .card > .datosTexto{
	width: 60%;
	color: var(--grisClaro);
}
.datosCard .card > .datosTexto p{
	font-weight: lighter;
	padding-top: 5px;
	text-align: justify;
	line-height: 20px;
}

/* SERVICIOS */
.servicios{
	background: var(--gris);
	padding-bottom: 60px;
}
.servicios hr{
	border: none;
	outline: none;
	height: 2px;
	background: var(--negro);
	width: 80px;
	margin: -45px auto 50px;
}
.servicios .serviciosContenedor .titulo{
	color: var(--negro);
}
.servicios .serviciosGrupo{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.servicios .serviciosGrupo .servicio{
	width: 30%;
	text-align: center;
	margin: 30px;
}
.servicios .serviciosGrupo .servicio img{
	width: 60%;
}
.servicios .serviciosGrupo .servicio h3{
	margin: 10px 0;
}
.servicios .serviciosGrupo .servicio p{
	font-weight: lighter;
	text-align: justify;
	line-height: 25px;
 }

 /* PRECIOS */
.precios hr{
	border: none;
	outline: none;
	height: 2px;
	background: var(--grisOscuro);
	width: 80px;
	margin: -45px auto 50px;
}
.preciosCard{
	display: flex;
	justify-content: space-evenly;
}
.preciosCard .card{
	background: var(--negro);
	display: flex;
	width: 45%;
	height: 200px;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
}
.preciosCard .card img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	display: block;
}
.preciosCard .card > .preciosTexto{
	width: 60%;
	color: var(--grisClaro);
}
.preciosCard .card > .preciosTexto p{
	font-weight: lighter;
	padding-top: 5px;
	text-align: justify;
	line-height: 20px;
}

 /* FOOTER */
 footer{
 	background: var(--negro);
 	padding: 50px 0 30px 0;
 	margin: auto;
 	overflow: hidden;
 }
 footer .footerContenedor{
 	display: flex;
 	width: 90%;
 	justify-content: space-evenly;
 	margin: auto;
 	padding-bottom: 50px;
 	border-bottom: 1px solid var(--gris);
 }
 footer .footerContenedor .footerDatos{
 	text-align: center;
 }
 footer .footerContenedor .footerDatos:nth-child(1),
 footer .footerContenedor .footerDatos:nth-child(2){
 	padding-bottom: 20px;
 }
 footer .footerContenedor .footerDatos h3{
 	color: var(--gris);
 	border-bottom: 2px solid white;
 	padding-bottom: 5px;
 	margin-bottom: 10px;
 	font-weight: lighter;
 }
 footer .footerContenedor .footerDatos p{
 	color: var(--grisClaro);
 }
 footer .copy{
 	text-align: center;
 	font-size: 20px;
 	margin: 20px 0 0 0;
 	color: white;
 	font-weight: lighter;
 }

 /*HOME*/
.home{
	position:fixed;
	bottom:30px;
	right: 100%;
	width: 50px;
	height: 50px;
	padding:10px;
	background: white;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	cursor: pointer;
	transition: 0.5s;
	font-size: 20px;
	color:black;
	z-index: 1000;
}
.home:hover{
	background:var(--gris);
	border: 3px solid var(--negro);
	color:var(--negro);
}

/* PRELOADER */
.loading{
	width: 100%;
	height: 100vh;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top:0;
	left: 0;
	z-index: 100000;
	clip-path: circle(100% at 50% 50%);
	transition: clip-path 0.8s ease-in-out;
}
.loading2{
	clip-path: circle(0% at 50% 50%);
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
