/*DESARROLLADO POR FERNANDO JUAREZ ALDORICA*/
:root{
	--negro:#0B0B0D;
	--grisOscuro:#474A56;
	--gris:#929AAB;
	--grisClaro:#D3D5FD;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: white;
	overflow-x: hidden;
	font-family: 'Quicksand', sans-serif;
}

/*MENU DE NAVEGACION*/
#header{
	position:relative;
	width: 100%;
}
.menu{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 60px;
	background: var(--negro);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9999;
}
.menu .logo{
	margin-left: 20px;
}
.menu .logo h1 a{
	text-decoration: none;
	font-size: 30px;
	font-weight: 400;
	color:var(--grisClaro);
}
.menu .contenedorMenu{
	margin-right: 20px;
}
.menu .contenedorMenu .lista{
	display: flex;
}
.menu .contenedorMenu .lista li{
	list-style: none;
}
.menu .contenedorMenu .lista li a{
	text-decoration: none;
	margin:0 10px;
	padding: 8px;
	color:var(--grisClaro);
	font-size:20px;
	transition: 0.3s;
}
.menu .contenedorMenu .lista li a.activo{
	background: var(--grisClaro);
	color:var(--negro);
}
.menu .contenedorMenu .lista li a:hover{
	background: var(--grisClaro);
	color:var(--negro);
}
.btnMenu > .fa-bars{
	display:none;
}
.pegar{
	 position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

/*IMG HEADER*/
.imgHeader{
	position:relative;
	width: 100%;
	height: 100vh;
	background: url(../img/header.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.imgHeader .welcome{
	position:absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.imgHeader .welcome h1{
	font-size: 60px;
	color:var(--grisClaro);
	border:none;
	font-weight: lighter;
}
.imgHeader .welcome hr{
	width: 40%;
	height: 2px;
	background: var(--grisClaro);
	border:none;
	margin-top: 5px;
}
.imgHeader .welcome p{
	font-size: 40px;
	color:var(--grisClaro);
	margin-top: 5px;
}

/*MAIN*/
#main{
	width: 100%;
}

/*PROYECTOS*/
.proyectos{
	position:relative;
	width: 100%;
	height: 100%;
	background: var(--grisClaro);
}
.proyectos .contenedorProyectos{
	width: 90%;
	margin:auto;
	padding-top: 200px;
}
.proyectos .contenedorProyectos .tituloProyectos{
	border:2px solid var(--grisOscuro);
	padding: 10px;
	text-align: center;
	width: 60%;
	margin:auto;
}
.proyectos .contenedorProyectos .tituloProyectos h2{
	font-size: 50px;
	color:var(--grisOscuro);
	font-weight: lighter;
}
.proyectos .contenedorProyectos .proyectosIMG{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 80px;
	padding-bottom: 200px;
}
.proyectos .contenedorProyectos .proyectosIMG img{
	width: calc(30% - 10px);
	margin:10px;
	object-fit: cover;
	cursor:pointer;
}
.proyectos .contenedorProyectos .proyectosIMG img:hover{
	transform: scale(1.2);
	transition: 0.5s;
}

/*APLICACIONES*/
.apps{
	position:relative;
	width: 100%;
	height: 100%;
	background: var(--negro);
}
.apps .appsContenedor{
	width: 90%;
	margin:auto;
	padding-top: 300px;
}
.apps .appsContenedor .appsTitulo{
	border:2px solid var(--grisClaro);
	padding: 10px;
	text-align: center;
	width: 60%;
	margin:auto;
}
.apps .appsContenedor .appsTitulo h2{
	font-size: 50px;
	color:var(--grisClaro);
	font-weight: lighter;
}
.apps .appsContenedor .appsImg{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 80px;
	padding-bottom: 200px;
}
.apps .appsContenedor .appsImg img{
	width: calc(30% - 10px);
	margin:10px;
	object-fit: cover;
	cursor:pointer;
}
.apps .appsContenedor .appsImg img:hover{
	transform: scale(1.2);
	transition: 0.5s;
}

/*FRASE*/	
.frase{
	position:relative;
	width: 100%;
	height: 100vh;
}
.frase .fraseImg{
	background: url(../img/frase.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-color: rgba(0,0,0,0.7);
	background-blend-mode: soft-light;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.frase .fraseImg h3{
	width: 80%;
	color:var(--grisClaro);
	font-size: 40px;
	font-weight: lighter;
	text-align: center;
	line-height: 50px;
}
.frase .fraseImg p{
	width: 80%;
	color:var(--grisClaro);
	font-size: 30px;
	font-weight: lighter;
	text-align: center;
	line-height: 50px;
}

/*ABOUT*/
.about{
	position:relative;
	width: 100%;
	height: 100%;
	background: var(--grisClaro);
}
.about .infoAbout{
	width:80%;
	padding-top:200px;
	margin:auto;
}
.about .infoAbout .tituloAbout{
	border:2px solid var(--grisOscuro);
	padding: 10px;
	text-align: center;
	width: 60%;
	margin:auto;
}
.about .infoAbout .tituloAbout h2{
	font-size: 50px;
	color:var(--grisOscuro);
	font-weight: lighter;
}
.about .infoAbout p{
	font-size: 20px;
	color:var(--grisOscuro);
	line-height: 40px;
	margin: 30px 0;
	text-align: center;
	padding-top: 80px;
}
.about .infoAbout p a{
	color:var(--grisOscuro);
	font-weight: bold;
	font-size: 25px;
}
.about .infoAbout p a:hover{
	font-size: 30px;
	transition: 0.5s;
}
.about .imgAbout{
	width:80%;
	margin:auto;
	padding: 100px 0;
	text-align: center;
}
.about .imgAbout img{
	/*width: 80%;*/
	height: 400px;
	object-fit: cover;
	cursor: pointer;
	border-radius: 500px;
}
.about .imgAbout img:hover{
	transition: 0.5s;
	border-radius: 500px;
}
.about .imgAbout #aboutImg02{
	display: none;
}

/*FOOTER*/
.footer{
	width:100%;
	height: 60px;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.footer p{
	color:var(--negro);
	font-size: 18px;
}

/*HOME*/
.home{
	position:fixed;
	bottom:30px;
	right: 100%;
	width: 50px;
	height: 50px;
	background:white;
	border: 3px solid var(--negro);
	display:flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
	transition: 0.5s;
	font-size: 25px;
	color:var(--negro);
	z-index: 9999;
}
.home:hover{
	border: 3px solid white;
	background: black;
	color:white;
}

/*DIAGONALES*/
.diagonalAbajo{
	position:absolute;
	bottom: 0;
	left:0;
	border-width: 0 0 10vh 100vw;
	border-style: solid;
	border-color:transparent transparent var(--grisClaro) transparent;
}
.diagonalArriba{
	position:absolute;
	top: 0;
	left:0;
	border-width: 10vh 100vw 0 0;
	border-style: solid;
	border-color:var(--grisClaro) transparent transparent transparent;
	z-index: 10;
}
.diagonalArribaNegro{
	position:absolute;
	top: 0;
	left:0;
	border-width: 10vh 100vw 0 0;
	border-style: solid;
	border-color:var(--grisClaro) transparent transparent transparent;
	z-index: 10;
}