:root{
	--negro:#0B0B0D;
	--grisOscuro:#474A56;
	--gris:#929AAB;
	--grisClaro:#D3D5FD;
}

@media screen and (max-width: 900px){
	header{
		background-position: center;
	}
	header .headerTexto{
		width: 100%;
	}
	header .headerTexto h1{
		font-size: 60px;
	}
	header nav{
		height: 65px;
	}
	header nav .menu{
		position: absolute;
		top: 65px;
		left: -100%;
		width: 100%;
		height: 300px;
		background: var(--negro);
	}
	header nav .menu .lista{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	header nav .menu .lista li{
		width: 70%;
		margin: 10px 0;
		padding: 10px 0;
		text-align: center;
	}
	header nav .menu .lista li a{
		font-size: 25px;
	}
	.burger > .fa-bars{
		display: block;
		position: absolute;
		top: 15px;
		right: 30px;
		font-size: 35px;
		cursor: pointer;
		color: var(--grisClaro);
		transition: 0.5s;
	}
	.burger > .fa-bars:hover{
		color: var(--gris);
	}
	.aboutContenedor{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.aboutContenedor .aboutTexto{
		width: 90%;
	}
	.aboutContenedor .aboutImg{
		width: 90%;
		margin-bottom: 50px;
	}
	.proyectos .proyectosGaleria .proyectoImg{
		width: 45%;
	}
	.datosCard{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.datosCard .card{
		width: 90%;
	}
	.datosCard .card:first-child{
		margin-bottom: 30px;
	}
	.servicios .serviciosGrupo{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.servicios .serviciosGrupo .servicio{
		width: 100%;
		text-align: center;
		padding: 30px;
	}
	.servicios .serviciosGrupo .servicio:nth-child(1),
	.servicios .serviciosGrupo .servicio:nth-child(2){
		margin-bottom: 90px;
	}
	.preciosCard{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.preciosCard .card{
		width: 90%;
	}
	.preciosCard .card:first-child{
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 500px){
	header .headerTexto h1{
		font-size: 40px;
	}
	header .headerTexto hr{
		width: 350px;
	}
	header .headerTexto h2{
		font-size: 25px;
	}
	header .headerTexto hr{
		width: 300px;
	}
	header nav > a{
		font-size: 18px;
	}
	.aboutContenedor .aboutImg{
		width: 100%;
	}
	.aboutContenedor .aboutTexto{
		width: 95%;
	}
	.aboutContenedor .aboutTexto h3{
		padding: 0 0 30px 0;
	}
	.proyectos .proyectosGaleria .proyectoImg{
		width: 95%;
	}
	.datosCard .card{
		height: 450px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.datosCard .card img{
		width: 150px;
		height: 150px;
	}
	.datosCard .card > .datosTexto{
		width: 80%;
	}
	.datosCard .card > .datosTexto p{
		text-align: justify;
	}
	footer .footerContenedor{
		flex-direction: column;
	}
	footer .footerContenedor .footerDatos{
		margin-bottom: 20px;
		text-align: center;
	}
	footer .footerContenedor .footerDatos h3{
		border: none;
	}
	footer .footerContenedor .footerDatos p{
		padding-bottom: 20px;
	}
	footer .copy{
		font-size: 20px;
	}
	.servicios .serviciosGrupo .servicio:nth-child(1),
	.servicios .serviciosGrupo .servicio:nth-child(2){
		margin-bottom: 5px;
	}
	.preciosCard .card{
		height: 450px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.preciosCard .card img{
		width: 150px;
		height: 150px;
	}
	.preciosCard .card > .datosTexto{
		width: 80%;
	}
	.preciosCard .card > .datosTexto p{
		text-align: justify;
	}
}