@media screen and (max-width: 900px){
	header{
		background-position: center;
	}
	.aboutContenedor{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.aboutContenedor .aboutTexto{
		width: 90%;
	}
	.aboutContenedor .aboutImg{
		width: 90%;
		margin-bottom: 50px;
	}
	.proyectos .proyectosGaleria .proyectoImg{
		width: 45%;
	}
	.datosCard{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.datosCard .card{
		width: 90%;
	}
	.datosCard .card:first-child{
		margin-bottom: 30px;
	}
	.servicios .serviciosGrupo{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.servicios .serviciosGrupo .servicio{
		width: 100%;
		text-align: center;
		padding: 30px;
	}
	.servicios .serviciosGrupo .servicio:nth-child(1),
	.servicios .serviciosGrupo .servicio:nth-child(2){
		margin-bottom: 90px;
	}
	.preciosCard{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.preciosCard .card{
		width: 90%;
	}
	.preciosCard .card:first-child{
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 500px){
	header .headerTexto h1{
		font-size: 40px;
	}
	header .headerTexto hr{
		width: 350px;
	}
	header .headerTexto h2{
		font-size: 25px;
	}
	header .headerTexto hr{
		width: 300px;
	}
	header nav > a{
		font-size: 18px;
	}
	.aboutContenedor .aboutImg{
		width: 100%;
	}
	.aboutContenedor .aboutTexto{
		width: 95%;
	}
	.aboutContenedor .aboutTexto h3{
		padding: 0 0 30px 0;
	}
	.proyectos .proyectosGaleria .proyectoImg{
		width: 95%;
	}
	.datosCard .card{
		height: 450px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.datosCard .card img{
		width: 150px;
		height: 150px;
	}
	.datosCard .card > .datosTexto{
		width: 80%;
	}
	.datosCard .card > .datosTexto p{
		text-align: justify;
	}
	footer .footerContenedor{
		flex-direction: column;
	}
	footer .footerContenedor .footerDatos{
		margin-bottom: 20px;
		text-align: center;
	}
	footer .footerContenedor .footerDatos h3{
		border: none;
	}
	footer .footerContenedor .footerDatos p{
		padding-bottom: 20px;
	}
	footer .copy{
		font-size: 20px;
	}
	.servicios .serviciosGrupo .servicio:nth-child(1),
	.servicios .serviciosGrupo .servicio:nth-child(2){
		margin-bottom: 5px;
	}
	.preciosCard .card{
		height: 450px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.preciosCard .card img{
		width: 150px;
		height: 150px;
	}
	.preciosCard .card > .datosTexto{
		width: 80%;
	}
	.preciosCard .card > .datosTexto p{
		text-align: justify;
	}
}