/*Estilos Responsivos*/
:root{
	--negro:#0B0B0D;
	--grisOscuro:#474A56;
	--gris:#929AAB;
	--grisClaro:#D3D5FD;
}

@media only screen and (max-width: 800px){
	#particles-js{
		width:100%; 
		height:100vh;
	}
	.imgHeader .welcome h1{
		font-size: 50px;
	}
	.imgHeader .welcome hr{
		width: 60%;
	}
	.imgHeader .welcome p{
		font-size: 30px;
	}
	.btnMenu > .fa-bars{
		display:block;
		position:absolute;
		top:13px;
		right: 25px;
		font-size: 35px;
		cursor: pointer;
		color:var(--grisClaro);
	}
	.btnMenu > .fa-bars:hover{
		color:var(--grisOscuro);
	}
	.menu .contenedorMenu{
		position:absolute;
		top:60px;
		left:-100%;
		width: 100%;
		height: calc(50vh - 60px);
		background: var(--negro);
	}
	.menu .contenedorMenu .lista{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.menu .contenedorMenu .lista li{
		width: 70%;
		margin:10px 0;
		padding: 10px 0;
		text-align:center;
	}
	.menu .contenedorMenu .lista li a{
		font-size: 25px;
	}
	.menu .logo h1 a{
		font-size: 25px;
	}
	.proyectos .contenedorProyectos .proyectosIMG img{
		width: 80%;
	}
	.apps .appsContenedor .appsImg img{
		width: 80%;
	}
}
@media only screen and (max-width: 550px){
	.imgHeader .welcome h1{
		font-size: 40px;
	}
	.imgHeader .welcome hr{
		width: 80%;
	}
	.imgHeader .welcome p{
		font-size: 20px;
	}
	.proyectos .contenedorProyectos .tituloProyectos h2{
		font-size: 35px;
	}
	.proyectos .contenedorProyectos .proyectosIMG img{
		width: 90%;
	}
	.proyectos .contenedorProyectos .proyectosIMG img:hover{
		transform: none;
	}
	.frase .fraseImg h3{
		font-size: 25px;
	}
	.frase .fraseImg p{
		font-size: 20PX;
	}
	.about .infoAbout .tituloAbout{
		width: 75%;
	}
	.about .infoAbout .tituloAbout h2{
		font-size: 35px;
	}
	.about .imgAbout img{
		height: 300px;
	}
	.about .imgAbout img:hover{
		transform: none;
	}
	.footer p{
		font-size: 12px;
	}
	.about .imgAbout #aboutImg{
		display: none;
	}
	.about .imgAbout #aboutImg02{
		display: block;
		margin:auto;
	}
	.apps .appsContenedor .appsTitulo h2{
		font-size: 35px;
	}
	.apps .appsContenedor .appsImg img{
		width: 90%;
	}
	.apps .appsContenedor .appsImg img:hover{
		transform:none;
	}
}